/*fonts*/
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap");
/*@import url("");*/
/*components*/
@import url("components/cards.css");
@import url("components/buttons.css");
@import url("components/navbar.css");
@import url("components/footer.css");
@import url("components/tabs.css");
@import url("components/banner.css");

body {
  margin: 0 auto;
  color: #14020A;
  font-family: 'Lato', sans-serif;
  background-color: white;
}
img {
  width: 100px;
}
h1, h2, h3, h4, h5, p, ul, li {
  margin: 0;
  padding: 0;
}
/*300 light, 400 regular,
700 bold,900 boold */
h1 {
  font-size: 40px;
  font-weight: 300;
}
h2 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 32px;
}
h3 {
  font-size: 24px;
  font-weight: 400;
}
h4 {
  font-size: 16px;
  font-weight: 700;
}
h5 {
  font-size: 12px;
  font-weight: 400;
}
p {
  font-size: 8px;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: #14020A;
  display: block;
  text-transform: uppercase;
}
ul {
  list-style: none;
}
.container {
  background-color: white;
  margin: 0 150px;
}
.margin {
  margin: 24px auto;
}
.shadow-l {
  box-shadow: 0 0 20px 0 rgba(1,1,1,0.1)
}
.shadow-m {
  box-shadow: 0 0 15px 0 rgba(1,1,1,0.1)
}
.shadow-s {
  box-shadow: 0 0 10px 0 rgba(1,1,1,0.1)
}
