.banner {
  display: flex;
  justify-content: space-between;
}
.banner-image {
  flex: 0 1 40%;
  margin-left: 16px;
}
.banner-text {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.banner-reverse {
  flex-direction: row-reverse;
}
.banner-reverse .banner-text {
  align-items: flex-end;
  text-align: right;
}
.banner-reverse .banner-image {
  margin-right: 16px;
  margin-left: 0;
}


