.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  max-width: 100%;
}
.card {
  margin: 0 32px 32px 32px;
  height: 500px;
  width: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
}
.card-image {
  height: 70%;
  width: auto;
}
.card-price {
  margin: 8px auto;
}
.card .btn {
  margin: 0;
}
@media(max-width: 1333px) {
  .card {
    flex-basis: 33.33%;
  }
}
@media(max-width: 1073px) {
   .card {
    flex-basis: 33.33%;
  }
}
@media(max-width: 815px) {
  .cards {
    align-items: center;
    flex-direction: column;
  }

  .card {
    flex-basis: 50%;
  }
  .container {
    margin: 0 40px;
  }
}
@media(max-width: 555px) {
  .card {
    flex-basis: 100%;
  }
  .container {
    margin: 0px;
  }
}

