.navbar {
  width: 100%;
  height: 72px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  position: sticky;
  top: 0;
}
.navbar a#logo {
  width: 96px;
  flex: 1 0 50%;
  position: absolute;
  left: 128px;
}
.navbar ul {
  flex: 1 1 50%;
  position: absolute;
  right: 128px;
  width: 375px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.active {
  color: #D61D69;
  border-bottom: 2px solid #D61D69;
}
